In [1]:
import json
import os

In [2]:
# import items.json

items = json.load(open('items.json'))
open_orders = json.load(open('open_orders.json'))

# Get information for chatgpt

In [3]:
import json
import pandas as pd

def parse_json_file(file_path):
    with open(file_path, 'r') as file:
        data = json.load(file)
    return data

def extract_item_data(item):
    return {
        # "_id": item.get("_id"),
        "itemType": item.get("attributes", {}).get("itemType"),
        "rarity": item.get("attributes", {}).get("rarity"),
        "tier": item.get("attributes", {}).get("tier"),
        "class": item.get("attributes", {}).get("class"),
        "category": item.get("attributes", {}).get("category"),
        "image": item.get("image"),
        "description": item.get("description"),
        "name": item.get("name"),
        "symbol": item.get("symbol"),
        "make": item.get("attributes", {}).get("make"),
        "model": item.get("attributes", {}).get("model"),
        "mint_id" : item.get("mint"),
    }

def create_table_from_json(all_items):

    extracted_data = [extract_item_data(item) for item in all_items]
    df = pd.DataFrame(extracted_data)
    return df

In [4]:
create_table_from_json(items)

,itemType,rarity,tier,class,category,image,description,name,symbol,make,model,mint_id
0,collectible,epic,6.0,poster,rebirth,https://storage.googleapis.com/nft-assets/ReBi...,Suffering one of the cruelest fates in the uni...,The Assassination of Paizul,MRDR,None,None,7dr7jVyXf1KUnYq5FTpV2vCZjKRR4MV94jzerb8Fi16Q
1,collectible,uncommon,3.0,poster,rebirth,https://storage.googleapis.com/nft-assets/ReBi...,"All three factions, thinking they were the sol...",The Convergence War,TCW,None,None,36s6AFRXzE9KVdUyoJQ5y6mwxXw21LawYqqwNiQUMD8s
2,collectible,legendary,9.0,poster,rebirth,https://storage.googleapis.com/nft-assets/ReBi...,Their Titan class warship served as a fortifie...,The Last Stand,TLS,None,None,Hfjgcs9ix17EwgXVVbKjo6NfMm2CXfr34cwty3xWARUm
3,collectible,anomaly,13.0,poster,rebirth,https://storage.googleapis.com/nft-assets/ReBi...,The Photoli race are highly advanced aliens of...,Om Photoli,OMPH,None,None,DB76aiNQeLzHPwvFhzgwfpe6HGHCDTQ6snW6UD7AnHid
4,collectible,anomaly,14.0,poster,rebirth,https://storage.googleapis.com/nft-assets/ReBi...,“The first to arrive at the universe’s next fr...,Star Atlas,STAR,None,None,BrzwWsG845VttbTsacZMLKhyc2jAZU12MaPkTYrJHoqm
...,...,...,...,...,...,...,...,...,...,...,...,...
281,crew,silver,NaN,crew pack,pack,https://storage.googleapis.com/nft-assets/item...,Five recruitment orders laced in silver. It ca...,Silver 5 Card Pack,CREWS5,None,None,CPS5deX4R2BkA1X4SRrk5V2LqmT7CXwNdnC5syrpAmDK
282,crew,gold,NaN,crew pack,pack,https://storage.googleapis.com/nft-assets/item...,Five recruitment orders laced in gold. It can ...,Gold 5 Card Pack,CREWG5,None,None,CPG5JB1Z83TsYYCaVJLLpWVcoBBAnQ2T2nzmR9tbi3WU
283,crew,platinum,NaN,crew pack,pack,https://storage.googleapis.com/nft-assets/item...,A recruitment order laced in platinum. It can ...,Platinum 1 Card Pack,CREWP1,None,None,CPP1iv66iqZYeGEYuGAmjTbRJMbNazCWu8r2Ln5TUsc5
284,crew,platinum,NaN,crew pack,pack,https://storage.googleapis.com/nft-assets/item...,Five recruitment orders laced in platinum. It ...,Platinum 5 Card Pack,CREWP5,None,None,CPP5rhCt7tvjco6vbVMawzg4WHmr3Thr67y7PcBcbfSz
285,crew,gold,NaN,crew pack,pack,https://storage.googleapis.com/nft-assets/item...,A recruitment order laced in gold. It can be u...,Gold 1 Card Pack,CREWG1,None,None,CPG1B4jv6D2cZRkfXWawxSrE9SvhxdiDT1yKP4cNmHSe

In [5]:
items_df = create_table_from_json(items)

In [6]:
# convert class catergory rarity and tier and itemType lower case
# handle the Nan Error while converting to lower case

items_df['class'] = items_df['class'].apply(lambda x: x.lower() if x else x)
items_df['category'] = items_df['category'].apply(lambda x: x.lower() if x else x)
items_df['rarity'] = items_df['rarity'].apply(lambda x: x.lower() if x else x)
items_df['itemType'] = items_df['itemType'].apply(lambda x: x.lower() if x else x)

In [7]:
items_df["itemType"].unique()

array(['collectible', 'access', 'ship', 'structure', 'crew', 'resource',
       'story', 'currency', 'memories'], dtype=object)

In [8]:
items_df["category"].unique()

array(['rebirth', 'access', 'cosmetic', 'solarpunk', 'ship', 'equipment',
       'structure', 'pet', 'mud', 'resource', 'collectible', None,
       'residential', 'yard item', 'crafting station', 'cargo storage',
       'paint', 'landing pad', 'mining', 'sage', 'currency', 'memories',
       'story', 'ustur', 'oni', 'pack', 'emergence'], dtype=object)

In [9]:
items_df["class"].unique()

array(['poster', 'badge', 'skin', 'emote', 'medium', 'capital', 'license',
       'crew gear', 'mining equipment', 'space station structure',
       'x-small', 'pet', 'large', 'crew card', 'small', 'xx-small',
       'charm', 'commander', 'consumable', 'graphic-novel', 'titan',
       'stake', 'housing', 'hab assets', 'material bundle', 'currency',
       'memories', 'raw material', 'compound material', 'component',
       'data', 'trinket', 'contracts', 'trophy', 'crew pack'],
      dtype=object)

In [10]:
soreted_item_df = items_df.sort_values(by=['category', 'class', 'rarity', 'tier']).reset_index(drop=True)

In [11]:
soreted_renamed_item_df = soreted_item_df.drop_duplicates(subset='name')
soreted_renamed_item_df = soreted_renamed_item_df.set_index('name')

In [13]:
soreted_renamed_item_df.T.to_json('item_data.json')

# Reverse Map

In [15]:
mapping_all_data_dict = soreted_renamed_item_df.T.to_dict()

In [18]:
mapping_all_data_dict["Executive Badge"].keys()

dict_keys(['itemType', 'rarity', 'tier', 'class', 'category', 'image', 'description', 'symbol', 'make', 'model', 'mint_id'])

In [22]:
reverse_map = {}

# makes the index as name and uses mint_id as key

for key, value in mapping_all_data_dict.items():
    reverse_map[value["mint_id"]] = value
    reverse_map[value["mint_id"]]["name"] = key

In [24]:
# save the reverse map to json
with open('reverse_map.json', 'w') as f:
    json.dump(reverse_map, f)

# Category Map

In [16]:
category_map = {}

for index, row in soreted_item_df.iterrows():
    type_i      = row['itemType']
    category    = row['category']
    
    
    if type_i not in category_map:
        category_map[type_i] = []

    if category not in category_map[type_i]:
        category_map[type_i].append( category)
    
json.dump(category_map, open('category_map_min.json', 'w'))

In [17]:
# I want to crate a crategory and subcategory map as a dictionary, 
# mapping order category, class, rarity

category_map = {}

for index, row in soreted_item_df.iterrows():
    type_i      = row['itemType']
    category    = row['category']
    class_      = row['class']

    
    
    if type_i not in category_map:
        category_map[type_i] = {}
    if category not in category_map[type_i]:
        category_map[type_i][category] = []

    if class_ not in category_map[type_i][category]:
        category_map[type_i][category].append( class_)
    
json.dump(category_map, open('category_map_medium.json', 'w'))

In [18]:
# I want to crate a crategory and subcategory map as a dictionary, 
# mapping order category, class, rarity

category_map = {}

for index, row in soreted_item_df.iterrows():
    type_i      = row['itemType']
    category    = row['category']
    class_      = row['class']
    rarity      = row['rarity']
    
    
    if type_i not in category_map:
        category_map[type_i] = {}
    if category not in category_map[type_i]:
        category_map[type_i][category] = {}
    if class_ not in category_map[type_i][category]:
        category_map[type_i][category][class_] = {}
    if rarity not in category_map[type_i][category][class_]:
        category_map[type_i][category][class_][rarity] = []

    category_map[type_i][category][class_][rarity].append( row['name'])
    
json.dump(category_map, open('category_map_large.json', 'w'))

# Get Detialed Information for mapping

In [23]:
def extract_item_data_detailed(item):
    return {
        "_id": item.get("_id"),
        "attribute": item.get("attributes", {}),
        "image": item.get("image"),
        "description": item.get("description"),
        "name": item.get("name"),
        "symbol": item.get("symbol"),
        "mint_id" : item.get("mint"),
        "collection": item.get("collection"),
        "slots": item.get("slots")
    }

In [24]:
detial_items = {}

for item in items:
    info = extract_item_data_detailed(item)
    detial_items[info["mint_id"]] = info

In [21]:
# convert into JSON:
json_detial_items = json.dump(detial_items, open('detial_items.json', 'w'))

# Mint ID map

In [31]:
import json
import pandas as pd

def parse_json_file(file_path):
    with open(file_path, 'r') as file:
        data = json.load(file)
    return data

def extract_item_data_mint_map(item):
    return {
        # "_id": item.get("_id"),
        "itemType": str(item.get("attributes", {}).get("itemType")).lower(),
        "name": item.get("name"),
        "symbol": item.get("symbol"),
        "mint_id" : item.get("mint"),
    }

def create_table_from_json_mint_map(all_items):

    extracted_data = [extract_item_data_mint_map(item) for item in all_items]
    df = pd.DataFrame(extracted_data)
    return df

In [32]:
items_df = create_table_from_json_mint_map(items)

In [33]:
soreted_item_df = items_df.sort_values(by=['itemType']).reset_index(drop=True)

In [34]:
# remove duplicate and change index to name 
soreted_item_df = soreted_item_df.drop_duplicates(subset='name')
soreted_item_df = soreted_item_df.set_index('name')

In [35]:
soreted_item_df

,itemType,symbol,mint_id
name,,,
Brew Badge,access,BGBREW,BREWN24ym1AGwWxTzuVVth8W2a9fkQkJYCiJXWh349uC
VIP,access,VIP,CVy9zWnF7y15FeqEvV3ZsMdnMDG25na3NWHzx8xQvcG2
Honeyland Explorer Badge,access,HONEY,HoNYeNCD6WidPRYgsrgjfRjUJodPWU4yNG2HBawGi3Ht
Faction Meta-PAS,access,MPAS,6hSPiSuZiD9k6wzdJWMxZcj9bQUPDBu7pQ6Zwb4imXYs
Unique Badge,access,BGUNQ,BUtLhi4ohcuYiFooWhZyWxQXKceZLCLNS3BHGXnmnhqM
...,...,...,...
Mining Drill,structure,MSD1,AuxCj2T4Mdb6h5i1pZd2yDJy5pdiEpZCPtTHAR1DqKdT
Ustur CSS Tier 1,structure,CSSLU1,J7A3piAwSrhLAocV2FSzxrzR2aA6x1ExQNmUsrvsBrfy
MUD CSS Base Tier,structure,CSSLM0,GzhGEoio3w5hwxF61e5XtrzjTAm4AzVPRAgMKSfrAWZq
Ustur CSS Base Tier,structure,CSSLU0,ECRmDrmjcGJZfuibjyYanCK3Fwmi3uSy9Vd1iKLeG2Wx
MUD CSS Tier 2,structure,CSSLM2,HbZFd8KQ8HrCERD4boPUGvSqo24ELmRaBnCMyy2H1dm7

In [36]:
soreted_item_df.T.to_json('mint_id_map.json')